*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(16, 16, 249);
    color: #fff;
    position: relative;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.clock{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 9, 225);
  
}
.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;

}
.clock span::after{
   
    font-size: 16px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);


}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MIN';
}
#sec::after{
    content: 'SEC';
}